@import './chevron.css';
@import './decision.css';
@import './media.css';

.accordion-item {
  display: block;

  & .chevron {
    vertical-align: middle;
  }

  &.decision:not(.disabled):hover {
    background-color: var(--brand-white);
  }
}
